<img src={{album.logo}}>

<h2>{{album.album_title}}</h2>
<h3>{{ album.artist }} </h3>
{% if error_message %}
    {{ error_message }}
{% endif %}
<form action = "{% url 'music:favourite' album.id %}" method = "post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type = "radio" name="song" id="song{{ forloop.counter }}" value= "{{ song.id }}">
        <label for = "song{{forloop.counter}}">
         {{ song.song_title }}
          {% if song.is_favourite %}
              <img src = "http://bnb.data.bl.uk/sites/all/libraries/flint-editor/FlintSparqlEditor/sparql/images/Favorites_16x16.png">
          {% endif %}


        </label><br/>
    {% endfor %}
    <input type="submit" value="Favourtie">


